OPENAI_API_KEY=your-openai-api-key
CHROMA_HOST=europe-west1.gcp.trychroma.com
CHROMA_PORT=443
CHROMA_API_KEY=your-chroma-api-key
CHROMA_TENANT=your-chroma-tenant
CHROMA_DATABASE=your-chroma-database
CLINIC_SEARCH_COLLECTION_NAME=clinics_rag
CLINIC_SEARCH_EMBED_MODEL=text-embedding-3-small
API_BEARER_TOKEN=hello world
API_PORT=5001
GUNICORN_WORKERS=2
GUNICORN_THREADS=4
GUNICORN_TIMEOUT=120
TAVILY_API_KEY=
